<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raion.putrautama.bitsmitstockapps">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logooo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logooo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IntroSliderActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".allitems.TambahBarangActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kategori.AddKategoriActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.ListBarangActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sell.SellActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".restock.ListBarang2Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".restock.RestockActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".allitems.EditBarangActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>

</manifest>